In [3]:
import json # to work with json file format
from bs4 import BeautifulSoup # to parse html
import pandas as pd

In [95]:
df = pd.read_json('data/bigfoot_data.json', lines = True)

In [96]:
df.head()

,_id,html,time,url
0,{'$oid': '5939abbd2acdf6607095366c'},"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:40 2017,show_report.asp?id=13038
1,{'$oid': '5939abbd2acdf6607095366d'},"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:41 2017,show_report.asp?id=8792
2,{'$oid': '5939abbd2acdf6607095366e'},"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:41 2017,show_report.asp?id=1255
3,{'$oid': '5939abbd2acdf6607095366f'},"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:41 2017,show_report.asp?id=11616
4,{'$oid': '5939abbe2acdf66070953670'},"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:42 2017,show_report.asp?id=637

AttributeError: 'dict_values' object has no attribute 'values'

In [92]:
def clean_id_col():
    # pull values(actual ids) from dictionaries
    i = 0
    for i in range(len(df._id)):
        df['_id'][i] = df._id[i].values()
    
    # convert from dict_val to pandas series
    id_series = pd.Series([], name='id')
    for dict_val in df['_id']:
        dict_val = list(dict_val)
        dict_ser = pd.Series([dict_val])
        id_series = pd.concat([id_series,dict_ser], axis=0)
    id_series.reset_index(drop=True, inplace=True)
    
    # convert series of lists to series of strings
    for i in range(len(id_series)):
        id_series[i] = ', '.join(id_series[i])
        
    # drop old, messy id column
    df['id'] = id_series
    df.drop(['_id'], axis=1, inplace=True)

In [93]:
df.head()

,html,time,url,id
0,"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:40 2017,show_report.asp?id=13038,5939abbd2acdf6607095366c
1,"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:41 2017,show_report.asp?id=8792,5939abbd2acdf6607095366d
2,"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:41 2017,show_report.asp?id=1255,5939abbd2acdf6607095366e
3,"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:41 2017,show_report.asp?id=11616,5939abbd2acdf6607095366f
4,"\r\n<!doctype html public ""-//w3c//dtd html 4....",Thu Jun 8 19:55:42 2017,show_report.asp?id=637,5939abbe2acdf66070953670